{% extends "base.html"%} {% block content %} {% load static %}
<section id='title'>
    <a href="/">
        <img class="white-logo" src="/static/img/twitter.png" alt="White twitter logo">
        </a>
    <h1>Edit</h1>
</section>
<section class="content">
    <section class="post_form">
    <form action="/edit/{{post.id}}/" method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <input class="name-input" type="text" name="name" placeholder="Name" value="{{post.name}}" required /><br>
        <textarea class="txta" name="body" placeholder="What’s Happening?" required>{{post.body}}</textarea><br>
        <label for={{post.name}}></label>
            <input  class="name-input" type="file" name="image"><br>
        {% if post.image.url %}
        <img class="post-border" src= "{{ post.image.url}}">
        {% endif %}<br>
    <div class="update-edit-buttons">
        <a class="cancel-anchor" href="/">
            <input class="cancel-button" type='button' id='delete' value="Cancel">
        </a><br>
        <input id="update-button" type='submit' value="Update">
    </div>
    </form>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="{% static 'js/posts.js' %}"></script>
</section>
{% endblock %}